<%= render partial: 'common/header'  %>
  <!-- HERO SECTION  -->
  <div class="site-hero_2">
    <div class="page-title">
      <div class="big-title montserrat-text uppercase">palīdzēsim citiem</div>
      <div class="small-title montserrat-text uppercase">sākums / par ziedojumiem</div>
    </div>
  </div>

  <!-- WHAT WE DO -->
  <section>
    <div class="container">
      <div class="row">
        <div class="section-title">
          <span>Ko un kam ziedosim</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 wow fadeInUp">
          <p style="margin-bottom:30px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
          <div class="col-md-6">
            <div class="row">
              <ul class="list">
                <li>Stunning on all screens</li>
                <li>Easy to customize</li>
                <li>Make a difference</li>
                <li>Imagine and create</li>
                <li>Unlimited possibilities</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <ul class="list">
                <li>Remarkable style</li>
                <li>Captivating presentations</li>
                <li>Make a difference</li>
                <li>Make a difference</li>
                <li>Imagine and create</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 wow fadeInUp" data-wow-delay=".1s">
          <img src="assets/img/img1.jpg" alt="img" style="width:100%">
        </div>
      </div><!-- end row -->

    </div><!-- end container -->
  </section>

<!-- light gray section -->
  <div class="container">
    <div class="light-gray-section wow fadeInUp" style="padding:45px 60px;margin-top: 70px;">
      <div class="row">
        <p class="italic" style="float:left;line-height:50px;margin:0">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
        </p>
        <a href="https://www.facebook.com/bigliemlv/?fref=ts" target="_blank" class="btn green button-to-fb" style="float:right"><span>padalies ar ziedojumu</span></a>
      </div>
    </div>
  </div>

 <%= render partial: 'common/member_upload_form' %> 

 <%= render partial: 'common/footer'  %>

  <script type="text/javascript">
  $(window).load(function(){
    new WOW().init();
  });
  </script>


