<%= render partial: 'common/header'  %>

<main id="main">

  <div class="container custom_content">
      <% if @current_page.show_title %>
        <h1 class="entry-title"><%= @current_page.title %></h1>
        <div class="clearfix"></div>
      <% end %>  
      <%= @current_page.content.html_safe %>
  </div>  <!-- /container -->

</main>

<%= render partial: 'common/footer'  %>