<%= render partial: 'common/header'  %>
  <!-- HERO SECTION  -->
  <div class="site-hero_2">
    <div class="page-title">
      <div class="big-title montserrat-text uppercase">ievērosim kārtību</div>
      <div class="small-title montserrat-text uppercase">sākums / noteikumi</div>
    </div>
  </div>

  <!-- WHAT WE DO -->
  <section>
    <div class="container">
      <div class="row">
        <div class="section-title">
          <span>Noteikumi un ieteikumi</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>


    </div><!-- end container -->
  </section>


  <section style="margin-top: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
          <div class="benefits_1_single">
            <i class="icon ion-ios-pulse"></i>
            <div class="title montserrat-text uppercase">keep pulse going</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
          <div class="benefits_1_single">
            <i class="icon ion-ios-infinite-outline"></i>
            <div class="title montserrat-text uppercase">unlimited options</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
          <div class="benefits_1_single">
            <i class="icon ion-ios-lightbulb-outline"></i>
            <div class="title montserrat-text uppercase">great ideas</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".3s">
          <div class="benefits_1_single">
            <i class="icon ion-ios-settings"></i>
            <div class="title montserrat-text uppercase">awesome support</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
          <div class="benefits_1_single">
            <i class="icon ion-ios-pulse"></i>
            <div class="title montserrat-text uppercase">keep pulse going</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
          <div class="benefits_1_single">
            <i class="icon ion-ios-infinite-outline"></i>
            <div class="title montserrat-text uppercase">unlimited options</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
          <div class="benefits_1_single">
            <i class="icon ion-ios-lightbulb-outline"></i>
            <div class="title montserrat-text uppercase">great ideas</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".3s">
          <div class="benefits_1_single">
            <i class="icon ion-ios-settings"></i>
            <div class="title montserrat-text uppercase">awesome support</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

 <%= render partial: 'common/member_upload_form' %> 

 <%= render partial: 'common/footer'  %>

  <script type="text/javascript">
  $(window).load(function(){
    new WOW().init();
  });
  </script>


