<footer class="main-footer wow fadeInUp">
    <div class="container">
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <% @top_pages.each_with_index do |page,index| %>
                <li><a href="<%= lapa_path(page.slug) %>" class="animsition-link link"><%= page.title  %></a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-md-4 col-sm-12" style="text-align:right">
        <div class="row">
          <div class="uppercase gray-text">
           <%=  Setting.uncached_value_for('copyright')  %>
          </div>
          <ul class="social-icons" style="margin-top:30px;float:right">
            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon ion-social-youtube"></i></a></li>
            <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
            <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon ion-social-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>